<mat-toolbar color="warn" class="crm-navigation-bar">
  <mat-toolbar-row>

    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <h1 [routerLink]="['/home']" routerLinkActive="router-link-active" style="cursor: pointer;">Coupon System</h1>
    <span class="menu-spacer"></span>




    <div>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button [routerLink]="'/coupons/viewer'"> All Coupons </a>
      <a mat-button [routerLink]="'/companies/viewer'"> All Companies </a>
      <a mat-button [routerLink]="'/customers/viewer'"> All Customers </a>

    </div>
    <span class="filler"></span>
    <a mat-button [routerLink]="'/login'"> Login </a>







  </mat-toolbar-row>
  <!--
  <mat-toolbar-row>
    <span style="font-size: 16px; padding-left: 40px">Managing your coupons is easier than ever!</span>
  </mat-toolbar-row> -->
</mat-toolbar>




<mat-sidenav-container style="height: -webkit-fill-available;">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/coupons'"> Coupon List </a>
      <a mat-list-item [routerLink]="'/coupons/new'"> New Coupon </a>
      <a mat-list-item [routerLink]="'/coupons/viewer'"> All Coupons </a>

      <a mat-list-item [routerLink]="'/companies'"> Company List </a>
      <a mat-list-item [routerLink]="'/companies/new'"> New Company </a>
      <a mat-list-item [routerLink]="'/companies/viewer'"> All Companies </a>


      <a mat-list-item [routerLink]="'/customers'"> Customer List </a>
      <a mat-list-item [routerLink]="'/customers/new'"> New Customer </a>
      <a mat-list-item [routerLink]="'/customers/viewer'"> All Customers </a>
    </mat-nav-list>
  </mat-sidenav>


  <div class="container" id="wrapper">
      <div >
        <div class="col-md-12">
          <br>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>



</mat-sidenav-container>
