<div class="row">
    <div class="col-xs-12">
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <app-customer-item *ngFor="let item of customers; let i = index" [customer]="item" [index]="i"></app-customer-item>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <button [routerLink]="['/companies/new']" routerLinkActive="router-link-active"  class="btn btn-success">
        New Customer
      </button>
      <button class="btn btn-primary" (click)="onSave()" > Put Customers </button>

    </div>
  </div>
